<p>{{title}}</p>

<div style="display: flex; flex-direction: column">
  <div>
    <ng-container *ngIf="!dataUtils.trainingSequence && dataUtils.loading; else train">
      Preparing data...
    </ng-container>

    <ng-container *ngIf="dataUtils.training && !dataUtils.trained; else trained">
      Training...
    </ng-container>
    <ng-template #trained>
      <ng-container *ngIf="dataUtils.trained">
        Trained successfully.
      </ng-container>
    </ng-template>

    <ng-template #train>
      <button (click)="onTrain()">
        Train
      </button>
      <button (click)="onTest()">
        Test
      </button>
    </ng-template>
  </div>
  <div style="padding-left: 10px;width: 100%">
    <div>
      <errors-chart [epochs]="dataUtils.errorsChart.epochs"
                    [errors]="dataUtils.errorsChart.errors"
      ></errors-chart>
      <real-predict-chart [days]="dataUtils.dataChart.days"
                          [realData]="dataUtils.dataChart.realData"
                          [predictedData]="dataUtils.dataChart.predictedData"
      ></real-predict-chart>
    </div>
    <label>
      Console:
      <br/>
      <textarea style="width: 90%; height: 400px; resize: none; margin-bottom: 50px;"
                readonly
      >{{output}}</textarea>
    </label>
  </div>
</div>
