<div style="display: flex; flex-direction: row">
  <p>{{title}}</p>

  <div>
    <form [formGroup]="datasetForm">
      <select style="margin: 10px; font-size: 12pt; padding: 5px;"
              [formControlName]="'dataset'"
      >
        <option value="functional">Функциональный ряд</option>
        <option value="gold">Золото</option>
      </select>
    </form>
  </div>
</div>

<div style="display: flex; flex-direction: column">
  <div>
    <button (click)="onLoad()">
      Load dataset
    </button>
    <button (click)="onTrain()">
      Train
    </button>
    <button (click)="onTest()">
      Test
    </button>
  </div>
  <div style="padding-left: 10px;width: 100%">
    <div>
      <errors-chart [epochs]="dataUtils.errorsChart.epochs"
                    [errors]="dataUtils.errorsChart.errors"
      ></errors-chart>
      <real-predict-chart [days]="dataUtils.dataChart.days"
                          [realData]="dataUtils.dataChart.realData"
                          [predictedData]="dataUtils.dataChart.predictedData"
      ></real-predict-chart>
    </div>
    <label *ngIf="false">
      Console:
      <br/>
      <textarea style="width: 90%; height: 400px; resize: none; margin-bottom: 50px;"
                readonly
      >{{output}}</textarea>
    </label>
  </div>
</div>
